<div id="index-banner" class="parallax-container">
<div class="row ">
<div class= "center col s12 m4 l10">
<h3 class="header teal-text text-lighten-2">ยก Buscamos los mejores tutores !</h3>

</div>
<div class="row"> 
<img src='<%= asset_path 'utem1.png' %>'class="responsive-img"  class="thumb"  alt="peluqueria"  width="110" height="110"/>

</div>
<img src='<%= asset_path 'a93.jpg' %>' class="parallax" class="responsive-img"/>


<div class=" row">
<div class= "center col s12 m4 l10">
<h5 class="header green-text text-darken-1">Ingresa tus datos para ponernos en contacto contigo.</h5>
</div>
</div>
</div>
<%= render 'form' %>

