<!DOCTYPE html>

<body>

<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="css/style.css" media="screen,projection">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

            





<div class="center row">
      <div class="col s12 ">
        <div class="card-panel teal">
          <span class="white-text">De la mano del gobierno de Chile, a través del FDI(Fondo de Desarrollo Institucional),se nos ha otorgado el privilegio de realizar nuestra propuesta llamada "Videotutores", que consiste en centrar el estudio de cientos de estudiantes de primer año de ingeniería de la sede Macul en la universidad UTEM, a través de videos con contenido relevante de pruebas y materia de los ramos más complejos, para ello contaremos con ayudantes capacitados que los guiarán en todo el proceso.
          </span>
        </div>
      </div>
    </div>
<div class="center row">
      <div class="col s12 ">
        <div class="card-panel  pink darken-4">
          <span class="white-text">Somos un grupo de estudiantes de la sede Macul, quienes estamos a cargo de coordinar el contenido, edición y ejecución de los videos, en su mayoría validados con profesores. Nuestra única misión es ayudar al estudiante que viene ingresando a la universidad, otorgándoles herramientas de conocimiento. Queremos disminuír la taza de reprobados en los ramos más difíciles, es por ello la iniciativa de incluír a la misma gente dentro de la universidad.
          </span>
        </div>  
    </div> 
</div>

<div class="row">
<div class = "button center s12 m4 l8">
           			<%= link_to 'Volver', welcome_index_path, class:"btn center-align"%>
          </div>
           		</div>


    
    <div class=" center col s12 ">
    <div class= "parallax" ><%= image_tag("i5.png") %></div>
    
    
</div>
  

 
    </body>
    </html>